<ion-header>
  <ion-toolbar>
    <ion-title translate>Мастера</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/tabs/people/peopleedit']">
      <ion-icon name="person-add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-item *ngFor="let note of peopleList | async">
      <ion-grid>
        <ion-row [routerLink]="['/tabs/people/peopledetail', note.key]">
          <ion-col size="auto" *ngIf="note.img">
            <ion-avatar>
              <img [src]="note.img[0]">
            </ion-avatar>
          </ion-col>

          <ion-col>
            <ion-label text-wrap>
              <ion-text color="medium">
                <p>{{ note.category}}</p>
              </ion-text>
              <h2>{{ note.fio }}</h2>
              <ion-text color="medium">
                <p>{{ note.title }}</p>
              </ion-text>
            </ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="auto">
            <ion-button fill="outline" href="tel:{{ note.phone }}" translate>Позвонить</ion-button>
          </ion-col>
          <ion-col size="auto">
            <ion-button fill="outline" [routerLink]="['/chat', note.user]" translate>Написать</ion-button>
          </ion-col>
          <ion-col>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

</ion-content>