<ion-header>
  <ion-toolbar>
    <ion-title translate>Настройки</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item [routerLink]="['/tabs/setting/subscription']">
      <ion-label text-wrap>
        <h2 translate>Подписки</h2>
        <ion-text color="medium">
          <p translate>Подписки описание</p>
        </ion-text>
      </ion-label>
    </ion-item>

    <ion-item [routerLink]="['/tabs/setting/peopleedit']">
      <ion-label text-wrap>
        <h2 translate>Стать мастером</h2>
        <ion-text color="medium">
          <p translate>Стать мастером описание</p>
        </ion-text>
      </ion-label>
    </ion-item>    
    <ion-item [routerLink]="['/tabs/setting/notifications']">
      <ion-label text-wrap>
        <h2 translate>Персональные уведомления</h2>
        <ion-text color="medium">
          <p translate>Персональные уведомления описание</p>
        </ion-text>
      </ion-label>      
      <ion-badge slot="end" color="danger" *ngIf="countBadge>0">{{ countBadge }}</ion-badge>
    </ion-item>
    <ion-item [routerLink]="['/agreement']">
      <ion-label text-wrap>
        <h2 translate>Пользовательское соглашение</h2>
        <ion-text color="medium">
          <p translate>Пользовательское соглашение описание</p>
        </ion-text>
      </ion-label>
    </ion-item>    
    <ion-item [routerLink]="['/about']">
      <ion-label text-wrap>
        <h2 translate>О сервисе</h2>
        <ion-text color="medium">
          <p translate>О сервисе описание</p>
        </ion-text>
      </ion-label>
    </ion-item>    
  </ion-list>
</ion-content>