<ion-header>
  <ion-toolbar>
    <ion-title translate>О сервисе</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding [innerHTML]="textAbout">

</ion-content>