<ion-header>
  <ion-toolbar>
    <ion-title translate>Мои объявления</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-item text-wrap [routerLink]="['/tabs/myAd/add-form']" *ngIf="count==0">
    <ion-label text-wrap padding>
      <h2 [innerHTML]="'Список ваших объявлений пуст' | translate"></h2>
    </ion-label>
  </ion-item>

  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/tabs/myAd/add-form']">
      <ion-icon name="ios-add-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-item *ngFor="let note of noteList | async | sortAd">
      <ion-label [routerLink]="['/detail', note.key]">
        <ion-text color="medium">
          <p>{{note.dateCreate | date:'HH:mm d.MM.y'}}</p>
        </ion-text>
        <h2>{{note.job}}</h2>
        <ion-text color="medium">
          <p>{{note.category}}</p>
        </ion-text>
      </ion-label>

      <ion-icon slot="end" name="trash" color="danger" (click)="removeAd(note)"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>