<ion-header>
  <ion-toolbar>
    <ion-title translate>Уведомления</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item text-wrap *ngIf="count==0">
      <ion-label text-wrap padding>
        <h2 translate>Список уведомлений пуст.</h2>
      </ion-label>
    </ion-item>

  <ion-list>
    <ion-item *ngFor="let note of list | async | sortNotify">
      <ion-label [routerLink]="note.url">
        <ion-text color="medium">
          <p>{{note.dateCreate | date:'HH:m dd.MM.y'}}</p>
        </ion-text>
        <h2>{{note.text}}</h2>
        <ion-text color="medium">
          <p translate>{{note.subject}}</p>
        </ion-text>
      </ion-label>
      <ion-icon name="mail-unread" size="small" slot="end" color="danger" *ngIf="!note.isRead"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>