<ion-header>
  <ion-toolbar>
    <ion-title><rtp-user-detail [idUser]="this.userTo"></rtp-user-detail></ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content #content>
  <ion-grid class="gridMessages" *ngFor="let messageItem of messageList | async">
    <ion-row *ngIf="messageItem.dateGroup">
      <ion-col align-self-center>
          <ion-text color="medium">
              <div padding class="dateGroup">{{messageItem.dateGroup}}</div>
          </ion-text>
      </ion-col>
    </ion-row>
    <ion-row  align-items-end>
      <ion-col size="9" *ngIf="messageItem.user !== nickname" class="message"
        [ngClass]="{'my_message': messageItem.user === nickname, 'other_message': messageItem.user !== nickname}">
        <span>{{ messageItem.text }}</span>
      </ion-col>
      <ion-col *ngIf="messageItem.user !== nickname">
        <div class="time">{{messageItem.dateCreate | date:'hh:MM'}}</div>
      </ion-col>

      <ion-col *ngIf="messageItem.user === nickname">
          <div class="mytime">{{messageItem.dateCreate | date:'hh:MM'}}</div>
        </ion-col>
      <ion-col offset="3" size="9" *ngIf="messageItem.user === nickname" class="message"
        [ngClass]="{'my_message': messageItem.user === nickname, 'other_message': messageItem.user !== nickname}">
        <span>{{ messageItem.text }}</span>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar class="footerToolbar">
    <ion-buttons>
      <ion-input type="text" [placeholder]="'Сообщение' | translate" [(ngModel)]="message.text" (keyup.enter)="sendMessage()"></ion-input>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="sendMessage()" [disabled]="message.text === ''" translate>Отправить</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>